{% extends 'base.html' %}
{% block style %}
    <style>h1, h2, h3, h4, h5, h6 { font-family: 'Inter', sans-serif; --font-sans: 'Inter'; }
    </style>
    <style>
        body { font-family: 'Inter', sans-serif; --font-sans: 'Inter'; }
        .hid {
            display: none !important;
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock %}

{% block main %}
    <div class="grid min-h-screen w-full lg:grid-cols-[280px_1fr]">
        <div class="hidden border-r bg-gray-100/40 lg:block dark:bg-gray-800/40">
            <div class="flex h-full max-h-screen flex-col gap-2">
                <div class="flex h-[60px] items-center border-b px-6">
                    <a class="flex items-center gap-2 font-semibold" href="#">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="h-6 w-6"
                        >
                            <path d="M3 9h18v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9Z"></path>
                            <path d="m3 9 2.45-4.9A2 2 0 0 1 7.24 3h9.52a2 2 0 0 1 1.8 1.1L21 9"></path>
                            <path d="M12 3v6"></path>
                        </svg>
                        <span class="">주차 할인 시스템</span>
                    </a>
                    {#                    알림 종 버튼 삭제#}
                    {#                    <button class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground ml-auto h-8 w-8">#}
                    {#                        <svg#}
                    {#                                xmlns="http://www.w3.org/2000/svg"#}
                    {#                                width="24"#}
                    {#                                height="24"#}
                    {#                                viewBox="0 0 24 24"#}
                    {#                                fill="none"#}
                    {#                                stroke="currentColor"#}
                    {#                                stroke-width="2"#}
                    {#                                stroke-linecap="round"#}
                    {#                                stroke-linejoin="round"#}
                    {#                                class="h-4 w-4"#}
                    {#                        >#}
                    {#                            <path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9"></path>#}
                    {#                            <path d="M10.3 21a1.94 1.94 0 0 0 3.4 0"></path>#}
                    {#                        </svg>#}
                    {#                        <span class="sr-only">Toggle notifications</span>#}
                    {#                    </button>#}
                </div>
                <div class="flex-1 overflow-auto py-2">
                    <nav class="grid items-start px-4 text-sm font-medium">
                        <a
                                class="flex items-center gap-3 rounded-lg px-3 py-2 text-gray-500 transition-all hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-50"
                                href="./discount"
                        >
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="h-4 w-4"
                            >
                                <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                            할인적용
                        </a>
                        {#                        <a#}
                        {#                                class="flex items-center gap-3 rounded-lg bg-gray-100 px-3 py-2 text-gray-900  transition-all hover:text-gray-900 dark:bg-gray-800 dark:text-gray-50 dark:hover:text-gray-50"#}
                        {#                                href="#"#}
                        {#                        >#}
                        {#                            <svg#}
                        {#                                    xmlns="http://www.w3.org/2000/svg"#}
                        {#                                    width="24"#}
                        {#                                    height="24"#}
                        {#                                    viewBox="0 0 24 24"#}
                        {#                                    fill="none"#}
                        {#                                    stroke="currentColor"#}
                        {#                                    stroke-width="2"#}
                        {#                                    stroke-linecap="round"#}
                        {#                                    stroke-linejoin="round"#}
                        {#                                    class="h-4 w-4"#}
                        {#                            >#}
                        {#                                <path d="m7.5 4.27 9 5.15"></path>#}
                        {#                                <path d="M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z"></path>#}
                        {#                                <path d="m3.3 7 8.7 5 8.7-5"></path>#}
                        {#                                <path d="M12 22V12"></path>#}
                        {#                            </svg>#}
                        {#                            차량 조회#}
                        {#                        </a>#}
                        {#                        <a#}
                        {#                                class="flex items-center gap-3 rounded-lg px-3 py-2 text-gray-500 transition-all hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-50"#}
                        {#                                href="#"#}
                        {#                        >#}
                        {#                            <svg#}
                        {#                                    xmlns="http://www.w3.org/2000/svg"#}
                        {#                                    width="24"#}
                        {#                                    height="24"#}
                        {#                                    viewBox="0 0 24 24"#}
                        {#                                    fill="none"#}
                        {#                                    stroke="currentColor"#}
                        {#                                    stroke-width="2"#}
                        {#                                    stroke-linecap="round"#}
                        {#                                    stroke-linejoin="round"#}
                        {#                                    class="h-4 w-4"#}
                        {#                            >#}
                        {#                                <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>#}
                        {#                                <circle cx="9" cy="7" r="4"></circle>#}
                        {#                                <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>#}
                        {#                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>#}
                        {#                            </svg>#}
                        {#                            Clients#}
                        {#                        </a>#}
                        {#                        <a#}
                        {#                                class="flex items-center gap-3 rounded-lg px-3 py-2 text-gray-500 transition-all hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-50"#}
                        {#                                href="#"#}
                        {#                        >#}
                        {#                            <svg#}
                        {#                                    xmlns="http://www.w3.org/2000/svg"#}
                        {#                                    width="24"#}
                        {#                                    height="24"#}
                        {#                                    viewBox="0 0 24 24"#}
                        {#                                    fill="none"#}
                        {#                                    stroke="currentColor"#}
                        {#                                    stroke-width="2"#}
                        {#                                    stroke-linecap="round"#}
                        {#                                    stroke-linejoin="round"#}
                        {#                                    class="h-4 w-4"#}
                        {#                            >#}
                        {#                                <path d="m7.5 4.27 9 5.15"></path>#}
                        {#                                <path d="M21 8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16Z"></path>#}
                        {#                                <path d="m3.3 7 8.7 5 8.7-5"></path>#}
                        {#                                <path d="M12 22V12"></path>#}
                        {#                            </svg>#}
                        {#                            Stock#}
                        {#                        </a>#}
                        <a
                                class="flex items-center gap-3 rounded-lg px-3 py-2 text-gray-500 transition-all hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-50"
                                href="./search"
                        >
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="h-4 w-4"
                            >
                                <circle cx="12" cy="12" r="10"></circle>
                                <polyline points="12 6 12 12 16 14"></polyline>
                            </svg>
                            시간대 검색
                        </a>
                        <a
                                class="flex items-center gap-3 rounded-lg bg-gray-100 px-3 py-2 text-gray-900  transition-all hover:text-gray-900 dark:bg-gray-800 dark:text-gray-50 dark:hover:text-gray-50"
                                href="#"
                        >
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="h-4 w-4"
                            >
                                <rect width="20" height="14" x="2" y="5" rx="2"></rect>
                                <line x1="2" x2="22" y1="10" y2="10"></line>
                            </svg>
                            사용내역
                        </a>
                        {#                        <a#}
                        {#                                class="flex items-center gap-3 rounded-lg px-3 py-2 text-gray-500 transition-all hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-50"#}
                        {#                                href="#"#}
                        {#                        >#}
                        {#                            <svg#}
                        {#                                    xmlns="http://www.w3.org/2000/svg"#}
                        {#                                    width="24"#}
                        {#                                    height="24"#}
                        {#                                    viewBox="0 0 24 24"#}
                        {#                                    fill="none"#}
                        {#                                    stroke="currentColor"#}
                        {#                                    stroke-width="2"#}
                        {#                                    stroke-linecap="round"#}
                        {#                                    stroke-linejoin="round"#}
                        {#                                    class="h-4 w-4"#}
                        {#                            >#}
                        {#                                <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>#}
                        {#                                <circle cx="9" cy="7" r="4"></circle>#}
                        {#                                <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>#}
                        {#                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>#}
                        {#                            </svg>#}
                        {#                            HR#}
                        {#                        </a>#}
                    </nav>
                </div>
                <div class="mt-auto p-4">
                    <div class="rounded-lg border bg-card text-card-foreground shadow-sm" data-v0-t="card">
                        <div class="flex flex-col space-y-1.5 p-6 pb-4">
                            <h3 class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight">Upgrade to Pro</h3>
                            <p class="text-sm text-muted-foreground">
                                Unlock all features and get unlimited access to our support team
                            </p>
                        </div>
                        <div class="p-6">
                            <button class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-9 rounded-md px-3 w-full">
                                Upgrade
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col">
            <header class="flex h-14 lg:h-[60px] items-center gap-4 border-b bg-gray-100/40 px-6 dark:bg-gray-800/40">
                <a class="lg:hidden" href="#">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="h-6 w-6"
                    >
                        <path d="M3 9h18v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9Z"></path>
                        <path d="m3 9 2.45-4.9A2 2 0 0 1 7.24 3h9.52a2 2 0 0 1 1.8 1.1L21 9"></path>
                        <path d="M12 3v6"></path>
                    </svg>
                    <span class="sr-only">Home</span>
                </a>
                <div class="w-full flex-1">
                    <form>
                        <div class="relative">
                            <!-- 검색 -->
                            <div class="">
                                <div class="flex items-center justify-between py-2">
                                    <div class="flex space-x-2">
                                        <div class="flex items-center space-x-4">
                                            <div>
                                                <input id="month" type="radio" name="search" checked/>
                                                <label for="month">Month</label>
                                            </div>
                                            <div>
                                                <input id="date" type="radio" name="search"/>
                                                <label for="date">Date</label>
                                            </div>
                                            <div class="flex items-center space-x-2">
                                                <div class="flex flex-col w-40 mon">
                                                    <input
                                                            class="h-10 rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 w-full"
                                                            id="monthInput"
                                                            placeholder="Enter month"
                                                            type="month"
                                                    />
                                                </div>
                                                <div class="flex flex-col w-40 dt hid" style="margin-left:0">
                                                    <input
                                                            class="h-10 rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 w-full"
                                                            id="dateInput"
                                                            placeholder="Enter date"
                                                            type="date"
                                                    />
                                                </div>
                                                <button
                                                        id="cpschbtn"
                                                        class="inline-flex items-center justify-center whitespace-nowrap rounded-md font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input hover:text-accent-foreground h-10 px-4 py-1 text-xs bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
                                                        onclick="location.href = 'http://127.0.0.1:8000/2024-04/1';"
                                                >

                                                    검색
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 검색 끝 -->
                        </div>
                    </form>
                </div>
                <button
                        class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground rounded-full border border-gray-200 w-8 h-8 dark:border-gray-800"
                        type="button"
                        id="radix-:r4:"
                        aria-haspopup="menu"
                        aria-expanded="false"
                        data-state="closed"
                >
                    <img
                            src="/placeholder.svg"
                            width="32"
                            height="32"
                            class="rounded-full"
                            alt="Avatar"
                            style="aspect-ratio: 32 / 32; object-fit: cover;"
                    />
                    <span class="sr-only">Toggle user menu</span>
                </button>
            </header>
            <main class="flex flex-1 flex-col gap-4 p-4 md:gap-8 md:p-6">
                <div class="flex items-center">
                    <h1 class="font-semibold text-lg md:text-2xl">사용내역</h1>
                    <button class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 rounded-md px-3 ml-auto h-8 hid">
                        Add vehicle
                    </button>
                </div>
                <div class="border shadow-sm rounded-lg">
                    <div class="relative w-full overflow-auto">
                        <table class="w-full caption-bottom text-sm">
                            <!-- 표 제목 -->
                            <thead class="[&amp;_tr]:border-b">
                            <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                                <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 w-[25%]">
                                    사용월
                                </th>
                                <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 max-w-[25%]">
                                    할인종류
                                </th>
                                <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 hidden md:table-cell">
                                    결제구분
                                </th>
                                <th class="h-12 px-4 text-left align-middle font-medium text-muted-foreground [&amp;:has([role=checkbox])]:pr-0 hidden md:table-cell">
                                    사용요금
                                </th>
                            </tr>
                            </thead>
                            <!-- 표 제목 끝 -->
                            <!-- 표 본문 -->
                            <tbody class="[&amp;_tr:last-child]:border-0">
                            {% if cnt %}
                            {% for cp in cplist %}
                            <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                                    {{ cp.disc_time }}
                                </td>
                                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                                    {{ cp.disc }}
                                </td>
                                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                                    유료
                                </td>
                                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0">
                                    1
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
                                <td class="p-4 align-middle [&amp;:has([role=checkbox])]:pr-0 text-center" colspan="4">
                                    쿠폰 사용 정보가 없습니다.
                                </td>
                            </tr>
                            {% endif %}
                            </tbody>
                            <!-- 표 본문 끝 -->
                        </table>
                    </div>
                </div>

{#
                cpg: {{ cpg }}
                stpg : {{ stpg }}
                allpage : {{ allpage }}
#}

                <!-- nav start -->
                {% if cnt %}
                <nav aria-label="pagination" class="mx-auto flex w-full justify-center" role="navigation">
                    <ul class="flex flex-row items-center gap-1">
                        <li class="disabled">
                            {% if cpg == 1 %}
                                <a
                                        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 gap-1 pl-2.5"
                                        aria-label="Go to previous page"
                                >
                            {% else %}
                                <a
                                        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 gap-1 pl-2.5"
                                        aria-label="Go to previous page"
                                        href="{{ baseurl }}{{ cpg - 1 }}"
                                >
                            {% endif %}
                            <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    stroke="currentColor"
                                    stroke-width="2"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="h-4 w-4"
                            >
                                <path d="m15 18-6-6 6-6"></path>
                            </svg>
                            <span>Previous</span>
                            </a></li>

                        {% for idx in range(stpg, stpg + 10) %}
                            {% if idx <= allpage %} {# idx가 allpage보다 같거나 작으면 페이지네이션 출력 #}
                                {% if cpg == idx %}
                                    <li class="page-item active">
                                        {% else %}
                                    <li class="page-item">
                                {% endif %}
                            <a class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-10 w-10"
                                    href="{{ baseurl }}{{ idx }}">{{ idx }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}

                        <li class="">
                            {% if cpg == allpage %}
                            <a
                                    class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 gap-1 pr-2.5"
                                    aria-label="Go to next page"
                            >
                            {% else %}
                                <a
                                        class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 gap-1 pr-2.5"
                                        aria-label="Go to next page"
                                        href="{{ baseurl }}{{ cpg + 1 }}"
                                >
                            {% endif %}
                                <span>Next</span>
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        width="24"
                                        height="24"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="h-4 w-4"
                                >
                                    <path d="m9 18 6-6-6-6"></path>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
                {% else %}
                {% endif %}
                <!-- nav end -->

                <!-- 여력이 된다면 -->
                <button class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 border border-input bg-background hover:bg-accent hover:text-accent-foreground h-10 px-4 py-2 w-24 hid">
                    EXCEL
                </button>
            </main>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        nowmth = new Date().toISOString().slice(0, 7);
        nowdt = new Date().toISOString().substring(0, 10);
        let mthrdo = document.querySelector('#month');
        let dtrdo = document.querySelector('#date');

        document.getElementById('monthInput').value = nowmth;
        document.getElementById('monthInput').max = nowmth;

        document.getElementById('dateInput').value = nowdt;
        document.getElementById('dateInput').max = nowdt;

        // 라디오 버튼 클릭 이벤트 리스너 추가
        mthrdo.addEventListener('change', () => {
            document.querySelector('.mon').classList.remove('hid');
            document.querySelector('.dt').classList.add('hid');
        });

        dtrdo.addEventListener('change', () => {
            document.querySelector('.mon').classList.add('hid');
            document.querySelector('.dt').classList.remove('hid');
        });

/*
        // 검색 기능

        document.addEventListener('DOMContentLoaded', () => {
            let cpschbtn = document.querySelector("#cpschbtn");

            cpschbtn.addEventListener('click', () => {
                let cpkey = "";
                if (mthrdo.checked) {
                    cpkey = document.querySelector('#monthInput').value;
                } else if (dtrdo.checked) {
                    cpkey = document.querySelector('#dateInput').value;
                } else {
                    alert('올바른 값이 아닙니다.');
                }

                if (cpkey) {
                    let cpparams = `/cplist/${cpkey}/1`;
                    location.href = 'http://127.0.0.1:8000' + cpparams;
                } else {
                    alert('검색어를 입력해주세요.');
                }
            });
        });

        // input 창에 현재 검색어 표시
        let crurl = location.pathname.split('/');
        console.log(crurl);

        function updateContent() {
            if (crurl[1] === 'cplist' && crurl[2]) {
                let pval = decodeURI(crurl[2]);

                if (pval.length === 7) {
                    mthrdo.checked = true;
                    document.getElementById('monthInput').value = pval;
                    document.querySelector('.mon').classList.remove('hid');
                    document.querySelector('.dt').classList.add('hid');
                } else if (pval.length === 10) {
                    dtrdo.checked = true;
                    document.getElementById('dateInput').value = pval;
                    document.querySelector('.mon').classList.add('hid');
                    document.querySelector('.dt').classList.remove('hid');
                }
            }
        }

        // 페이지 로드될 때와 새로고침 될 때 모두 updateContent 함수 실행
        window.addEventListener('load', updateContent);

        */


    </script>
{% endblock %}